* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0079bf;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0067a3;
  width: 100%; 
  padding: 5px 0px;
  flex-grow: .01 ;
  flex-wrap: wrap;
}

.logo{
  margin: 0px;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.header-title{
  margin: 0px;
  color: white;
  font-size: 23px;
}

.todo-wrap{
  flex-grow: 1 ;
  flex-wrap: wrap;
}